<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio for Adedotun ajibade">
    <meta name="keywords" content="eco-tourist, Adedotun ajibade, photography, Environmentalist, landscape, nature, photography">
    <script src="https://kit.fontawesome.com/88ab4872e4.js" crossorigin="anonymous"></script>
    

    <title>Adedotun Ajibade</title>
    <!--BOOTSRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
    <nav class="col navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">ADEDOTUN AJIBADE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div id="navbarContent" class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
          </ul>
         
        </div>
      </nav>
      </div>
    
      </div>
      </div>
<!--carousel begins-->

<div class="container-fluid">
    <div class="row">
      <div class="col">          
        <div id="carouselControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/img/CSC_1805.jpg" class="d-block w-100" alt="Satellite">
            </div>
            <div class="carousel-item">
              <img src="/img/DOT_0003.jpg" class="d-block w-100" alt="Spacewalking astronaut">
            </div>
            <div class="carousel-item">
                <img src="/img/DOT_0078.jpg" class="d-block w-100" alt="Spacewalking astronaut">
              </div>
              <div class="carousel-item">
                <img src="/img/DOT_1137fn.jpg" class="d-block w-100" alt="Spacewalking astronaut">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>          
        </div>        
      </div>
    </div>
    <!--about me-->
    <section id="about" class="section-padding wow fadeIn delay-05s">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-right">
              <h2 class="title-text">
                About me<br><span class="deco">Adedotun Ajibade </span>
              </h2>
            </div>
            <div class="col-md-6 text-left">
              <div class="about-text">
                <p class="about-color">Adedotun Ajibade is an adventurer, environmentalist and multiple prize-winning nature photographer in Nigeria.
                  His work has been featured in editorials for National Geographic Online, TVC, and travel magazines, websites and blogs.</p>
                <p>&nbsp;</p>
                <p class="about-color">With a camera and a sizable backpack, Adedotun is on a mission to chronicle breathtaking visual stories from the most unsought destinations in Nigeria.
                  He hopes to help the world appreciate Nigeria’s unique natural heritage and happily seeks new oportunities and projects centred around
                  promoting eco-tourism and wildlife conservation in the country and beyond.</p>
                <p>&nbsp;</p>
    
              </div>
            </div>
          </div>
        </div>
      </section>

    <!--begining of card-->
    <div class="container-fluid">
        <div class="row my-3">
          <div class="col">
            <h1>Explore</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="card mb-4 mb-lg-0 border-light shadow-sm">
              <img src="images/lessons/suits.jpg" alt="space suits" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Wildlife</h5>
                <p class="card-text">Wardrobe essentials for the dapper space traveler</p>
                <a href="lesson-1.html" class="btn btn-primary">Start Learning</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card mb-4 mb-lg-0 border-light shadow-sm">
              <img src="images/lessons/spacewalk.jpeg" alt="spacewalking astronaut" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Landscape</h5>
                <p class="card-text">Learn the basics of spacewalking before you step outside the space station</p>
                <a href="/blog" class="btn btn-primary">Go to Blog</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card mb-4 mb-lg-0 border-light shadow-sm">
              <img src="images/lessons/zerog.jpg" alt="astronauts in zero-g" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Blog</h5>
                <p class="card-text">Read about my travels, adventures stories and environmental related articles</p>
                <a href="/blog" class="btn btn-primary">Go to Blog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--footer-->
      <footer class="footer-2 text-center-xs bg--white">
        <div class="container">
          <!--end row-->
          <div class="row">
            <div class="col-md-6">
              <div class="footer">
                © Adedotun Ajibade 2020. All Rights Reserved
                <div class="credits">
              
                  Designed by <a href="mailto:dadsclement@gmail.com">Oluwaseun Dabiri</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 text-right">
              <ul class="social-list">
                <li>
                  <a href="https://www.instagram.com/adedotunajibade"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/AjibadeAdedotun?s=09https://twitter.com/AjibadeAdedotun?s=09"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                  <a href="https://www.flickr.com/photos/dotun55"><i class="fab fa-flickr"></i></a>
                </li>
                
                <li>
                  <a href="mailto:ajibadeadedotun@gmail.com"><i class="far fa-envelope"></i></a>
                </li>
              </ul>
            </div>
    
          </div>
          <!--end row-->
        </div>
      </footer>
    



    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>